<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Interact</title>
    <link rel="stylesheet" href="/css/master.css">
    <script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
    <link rel="stylesheet" href="/css/interact/<%= item.route %>.css">
  </head>

  <body>
    <a href="/interact">&lt; Back</a>
