<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.css" />
    <!-- WARNING: older version of jQuery, current is 3.4.1 -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.js'></script>
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.jQueryUI.min.js'></script>

    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/gridstack_extra.css">
  </head>
  <body>
    <button name="dev">Re Render</button>
    <div class="pages--container menu_open">
      <div class="input_menu">
        <h2 class="input_menu__title">Add a New Item +</h2>
        <div class="input_menu__content">
          <div class="input_menu__content_item">
            <div class="input_menu__content--text">

            </div>
          </div>
          <div class="input_menu__content_item">
            <p class="input_menu__content_item--tooltip">New Colour</p>
            <div class="input_menu__content--colour">

            </div>
          </div>
          <div class="input_menu__content_item">
            <p class="input_menu__content_item--tooltip">New Image</p>
            <div class="input_menu__content--image">

            </div>
          </div>
          <div class="input_menu__content_item">
            <p class="input_menu__content_item--tooltip">New Product</p>
            <div class="input_menu__content--product">

            </div>
          </div>
          <div class="input_menu__content_item">
            <p class="input_menu__content_item--tooltip">New Material</p>
            <div class="input_menu__content--material">

            </div>
          </div>
          <div class="input_menu__content_item">
            <p class="input_menu__content_item--tooltip">New File</p>
            <div class="input_menu__content--file">

            </div>
          </div>
        </div>
      </div>
      <button type="button" name="input_menu__toggle" class="input_menu__toggle">
        <span class="input_menu__toggle__icon">✖</span>
      </button>
      <div class="pages">

      </div>
    </div>
    <div class="dashboard--container">

    </div>
    <ul class="control_display">
      <li>
        <button name="scroll" class="control_display--scroll active">Scroll</button>
      </li>
      <li>
        <button name="fullscreen" class="control_display--fullscreen">Full Screen</button>
      </li>
      <li>
        <button name="slides" class="control_display--slides">Slides</button>
      </li>
    </ul>
  </body>
  <link rel="stylesheet" href="/css/prototype/four.css">
  <script type="text/javascript" src="/js/prototype/four.js"></script>
</html>
