<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gridstack Copy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.css" />
    <!-- WARNING: older version of jQuery, current is 3.4.1 -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.jQueryUI.min.js'></script>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/gridstack_extra.css">
    <link rel="stylesheet" href="/css/prototype/one.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1>Gridstack Copy</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar">
            <div class="grid-stack-item">
              <div class="grid-stack-item-content">Drag Me <!-- for I have discroursed --></div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="trash"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="grid-stack grid-stack-6" id="grid1">

            <!-- <div data-tracker="" data-gs-x="0" data-gs-y="0" data-gs-width="2" data-gs-height="2" class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide">
              <div class="grid-stack-item-content ui-draggable-handle"></div>
              <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90; display: none;"></div>
            </div>
            <div data-tracker="" data-gs-x="4" data-gs-y="0" data-gs-width="1" data-gs-height="1" class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide">
              <div class="grid-stack-item-content ui-draggable-handle"></div>
              <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90; display: none;">
              </div>
            </div>
            <div data-tracker="" data-gs-x="2" data-gs-y="1" data-gs-width="3" data-gs-height="1" class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide">
              <div class="grid-stack-item-content ui-draggable-handle"></div>
              <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90; display: none;"></div>
            </div>
            <div data-tracker="" data-gs-x="2" data-gs-y="2" data-gs-width="1" data-gs-height="1" class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide">
              <div class="grid-stack-item-content ui-draggable-handle"></div>
              <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90; display: none;"></div>
            </div>
            <div data-tracker="" data-gs-x="10" data-gs-y="0" data-gs-width="1" data-gs-height="2" class="grid-stack-item ui-resizable ui-draggable ui-resizable-autohide" style="">
              <div class="grid-stack-item-content ui-draggable-handle"></div>
              <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90; display: none;"></div>
            </div> -->

          </div>
        </div>
        <div class="col-md-6">
          <div class="grid-stack grid-stack-6" id="grid2"></div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/prototype/one.js"></script>
  </body>
</html>
