<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.css" />
    <!-- WARNING: older version of jQuery, current is 3.4.1 -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.js'></script>
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.jQueryUI.min.js'></script>


    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/gridstack_extra.css">
    <!-- <link rel="stylesheet" href="/css/prototype/sanitise_copy.css"> -->
    <style media="screen">
        .grid-stack {
            background: lightgoldenrodyellow;
        }
        .grid-stack-item-content {
            color: #2c3e50;
            text-align: center;
            background-color: #18bc9c;
        }
    </style>

  </head>
  <body>
    <div class="cont">
      <h1>Serialisation Demo</h1>
      <div class="control">

      </div>
      <div class="grid-stack">

      </div>
      <hr />
      <textarea id="saved-data" cols="100" rows="20" readonly="readonly"></textarea>
    </div>
  </body>
  <script type="text/javascript" src="/js/prototype/sanitise_copy.js"></script>
</html>
