<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Moodboard | Matter of Stuff</title>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro/dist/iro.min.js"></script>
    <!-- NOTE: Temporary font awesome using my own auth token -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.css" />
    <!-- WARNING: older version of jQuery, current is 3.4.1 -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.js'></script>
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.jQueryUI.min.js'></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>

    <link rel="stylesheet" href="https://use.typekit.net/kzk1ixv.css">

    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/gridstack_extra.css">
  </head>
  <body>

    <section class="main">
      <div class="slides--container">
        <div class="slides">
          <div class="top_menu">
            <button type="button" name="new_page" class="new_page" title="add new slide">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          <div class="slides--wrapper">
            <ul class="slides__grid">

            </ul>
          </div>
          <div class="bottom_menu">
            <button type="button" name="fullscreen" class="fullscreen" title="view fullscreen">
              <i class="fas fa-expand"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="pages--container menu_open">
        <div class="pages">

        </div>
        <!-- <div class="new_page">
          <div class="new_page--wrapper">
            <button type="button" name="new_page" title="Add Page">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div> -->
      </div>
      <div class="item_menu--container">
        <div class="item_menu">
          <h3 class="item_menu__title">Insert:</h3>
          <div class="item_menu__control">
            <ul>
              <li class="new_item_menu__item text" title="Create Text Box" data-mos-type="text">
                <button type="button" name="New Text">
                  T
                </button>
              </li>
              <li class="new_item_menu__item image" title="Insert Image" data-mos-type="image">
                <button type="button" name="New Image">
                  <i class="fas fa-image"></i>
                </button>
              </li>
              <li class="new_item_menu__item product" title="Add Product" data-mos-type="product">
                <button type="button" name="New Product" class="active">
                  <i class="fas fa-chair"></i>
                </button>
              </li>
              <li class="new_item_menu__item material" title="Add Material" data-mos-type="material">
                <button type="button" name="New Material">
                  <i class="fas fa-dice-d6"></i>
                  <!-- <i class="fas fa-dice-d20"></i> -->
                  <!-- <i class="fas fa-swatchbook"></i> -->
                </button>
              </li>
              <li class="new_item_menu__item colour" title="New Colour Swatch" data-mos-type="colour">
                <button type="button" name="New Colour">
                  <i class="fas fa-palette"></i>
                </button>
              </li>
              <li class="new_item_menu__item file" title="Insert File" data-mos-type="file">
                <button type="button" name="New File">
                  <i class="fas fa-file-alt"></i>
                </button>
              </li>
            </ul>

          </div>
          <div class="item_menu__interface">
            <div class="item_menu__interface__variant text" data-mos-type="text">
              <div class="insert new_text__insert">
                <ul class="new_text__size">
                  <li>
                    <button type="button" name="small" class="new_text__size--small">A</button>
                  </li>
                  <li>
                    <button type="button" name="medium" class="new_text__size--medium active">A</button>
                  </li>
                  <li>
                    <button type="button" name="large" class="new_text__size--large">A</button>
                  </li>
                </ul>
                <div class="new_text__value">
                  <textarea name="name" rows="4" placeholder="Text box content"></textarea>
                </div>
                <button type="button" name="new_text__insert">Insert Text Box +</button>
              </div>
            </div>
            <div class="item_menu__interface__variant image" data-mos-type="image">
              <div class="insert new_image__insert">
                <div class="image_interface--wrapper">
                  <label for="image_upload">Upload Image</label>
                  <input type="file" name="image_upload" class="image_upload" id="image_upload" />
                  <input type="url" name="image_url" class="image_url" placeholder="Paste Image URL" />
                  <div class="image_interface__preview">
                    <img src="https://res.cloudinary.com/oddert/image/upload/v1558101908/MOS/tiles/placeholder_image-01.png" alt="Placeholder Image">
                  </div>
                </div>
                <button type="button" name="new_image__insert">Insert Image +</button>
              </div>
            </div>
            <div class="item_menu__interface__variant product active" data-mos-type="product">

              <div class="insert new_product__insert">
                <div class="product_search__input">
                  <div class="product_search__input--wrapper">
                    <input class="product_search__input--bar" type="text" name="product_search" placeholder="Search MOS Products..." />
                    <button class="product_search__input--clear" type="button" name="product_search_clear">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="product_search__results">
                  <ul>

                  </ul>
                </div>
                <button type="button" name="new_product__insert">Insert Product +</button>
              </div>

            </div>
            <div class="item_menu__interface__variant material" data-mos-type="material">

              <div class="insert new_material__insert">
                <div class="product_search__input">
                  <div class="product_search__input--wrapper">
                    <input class="product_search__input--bar" type="text" name="product_search" placeholder="Search the Material Library..." />
                    <button class="product_search__input--clear" type="button" name="product_search_clear">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="product_search__results">
                  <ul>

                  </ul>
                </div>
                <button type="button" name="new_material__insert">Insert Material +</button>
              </div>

            </div>
            <div class="item_menu__interface__variant colour" data-mos-type="colour">
              <div class="insert new_colour__insert">
                <div class="colour_picker__iro">

                </div>
                <div class="colour_picker__preview">
                  <div class="colour_picker__preview--wrapper" style="background-color: #1bbc9b;">
                    <input value="#1bbc9b" class="colour_picker__preview__input" />
                  </div>
                </div>
                <button type="button" name="new_colour__insert">Insert Colour Swatch +</button>
              </div>
            </div>
            <div class="item_menu__interface__variant file" data-mos-type="file">
              <div class="insert new_file__insert">
                <p>New File Instert Interface</p>
                <button type="button" name="new_file__insert">Insert File +</button>
              </div>
            </div>

            <!-- Edits bellow (duplicate to avoid conflict with creators) -->

            <div class="item_edit__interface__variant text" data-mos-type="text">
              <div class="edit edit_text">
                <div class="edit_close edit_text__title">
                  <h4 class="edit_close__title">Edit text</h4>
                  <button type="button" name="edit_text__close" class="edit_close__close">X</button>
                </div>
                <ul class="edit_text__size">
                  <li>
                    <button type="button" name="small" class="edit_text__size--small">A</button>
                  </li>
                  <li>
                    <button type="button" name="medium" class="edit_text__size--medium active">A</button>
                  </li>
                  <li>
                    <button type="button" name="large" class="edit_text__size--large">A</button>
                  </li>
                </ul>
                <div class="edit_text__value">
                  <textarea name="name" rows="4" placeholder="Text box content"></textarea>
                </div>
                <button type="button" name="edit_text__save">Finished</button>
                <button type="button" name="edit_text__cancel">Cancel</button>
              </div>
            </div>


            <div class="item_edit__interface__variant image" data-mos-type="image">
              <div class="edit edit_image">
                <div class="edit_close edit_image__title">
                  <h4 class="edit_close__title">Edit image</h4>
                  <button type="button" name="edit_image__close" class="edit_close__close">X</button>
                </div>
                <div class="image_interface--wrapper">
                  <input type="url" name="image_url" class="image_url" placeholder="Paste Image URL" />
                  <div class="image_interface__preview">
                    <img src="https://res.cloudinary.com/oddert/image/upload/v1558101908/MOS/tiles/placeholder_image-01.png" alt="Placeholder Image">
                  </div>
                </div>
                <button type="button" name="edit_image__save">Finished</button>
                <button type="button" name="edit_image__cancel">Cancel</button>
              </div>
            </div>

            <div class="item_edit__interface__variant colour" data-mos-type="colour">
              <div class="edit_close edit_colour__title">
                <h4 class="edit_close__title">Edit colour</h4>
                <button type="button" name="edit_colour__close" class="edit_close__close">X</button>
              </div>
              <div class="edit edit_colour">
                <div class="colour_edit__iro">

                </div>
                <div class="colour_edit__preview">
                  <div class="colour_edit__preview--wrapper" style="background-color: #1bbc9b;">
                    <input value="#1bbc9b" class="colour_edit__preview__input" />
                  </div>
                </div>
                <button type="button" name="edit_colour__save">Finish</button>
                <button type="button" name="edit_colour__cancel">Cancel</button>
              </div>
            </div>

            <div class="item_edit__interface__variant product" data-mos-type="product">
              <div class="edit_close edit_product__title">
                <h4 class="edit_close__title">Edit product</h4>
                <button type="button" name="edit_colour__close" class="edit_close__close">X</button>
              </div>
              <div class="edit edit_product">
                <div class="edit_product__image_carousel">
                  <div class="carousel__page_left">
                    <button type="button" name="carousel__page_left">
                      <i class="fas fa-chevron-left"></i>
                    </button>
                  </div>
                  <div class="carousel__image_container">
                    <img src="https://res.cloudinary.com/oddert/image/upload/v1558101908/MOS/tiles/placeholder_image-01.png" alt="">
                  </div>
                  <ul class="carousel__image_select">
                    <li class="active">
                      <button type="button" name="carousel__image_0">
                        <img src="https://res.cloudinary.com/oddert/image/upload/v1558101908/MOS/tiles/placeholder_image-01.png" alt="">
                      </button>
                    </li>
                  </ul>
                  <div class="carousel__page_right">
                    <button type="button" name="carousel__page_right">
                      <i class="fas fa-chevron-right"></i>
                    </button>
                  </div>
                </div>
                <button type="button" name="edit_product__save">Finish</button>
                <button type="button" name="edit_product__cancel">Cancel</button>
              </div>
            </div>

            <div class="item_edit__interface__variant material" data-mos-type="material">
              <div class="edit_close edit_material__title">
                <h4 class="edit_close__title">Edit material</h4>
                <button type="button" name="edit_colour__close" class="edit_close__close">X</button>
              </div>
              <div class="edit edit_material">
                <div class="edit_material__image_carousel">
                  <div class="carousel__page_left">
                    <button type="button" name="carousel__page_left">
                      <i class="fas fa-chevron-left"></i>
                    </button>
                  </div>
                  <div class="carousel__image_container">
                    <img src="https://res.cloudinary.com/oddert/image/upload/v1558101908/MOS/tiles/placeholder_image-01.png" alt="">
                  </div>
                  <ul class="carousel__image_select">
                    <li class="active">
                      <button type="button" name="carousel__image_0">
                        <img src="https://res.cloudinary.com/oddert/image/upload/v1558101908/MOS/tiles/placeholder_image-01.png" alt="">
                      </button>
                    </li>
                  </ul>
                  <div class="carousel__page_right">
                    <button type="button" name="carousel__page_right">
                      <i class="fas fa-chevron-right"></i>
                    </button>
                  </div>
                </div>
                <button type="button" name="edit_material__save">Finish</button>
                <button type="button" name="edit_material__cancel">Cancel</button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- <div class="slides--wrapper">
        <div class="slides__grid">

        </div>
      </div> -->
    </section>
    <!-- <button name="dev">Re Render</button> -->

    <div class="dashboard--container">

    </div>
  </body>
  <link rel="stylesheet" href="/css/prototype/six.css">
  <script type="text/javascript" src="/js/prototype/six.js"></script>
</html>
