
.container {
  display: flex;
  justify-content: center;
  .board {
    border: 1px dashed steelblue;
    width: 80vw;
    height: 500px;
    .draggable {
      // Prevent the window panning or resizing on touch
      touch-action: none;
      // Prevent text selection
      user-select: none;
      width: 100px;
      height: 100px;
      border: 1px dashed tomato;
      &.one {
        background: #1bbc9b;
      }
      &.two {
        background: #3598db;
      }
      &.three {
        background: #9a59b5;
      }
    }
    .dropzone {
      background-color: #ccc;
      border: dashed 4px transparent;
      border-radius: 4px;
      margin: 10px auto 30px;
      padding: 10px;
      width: 80%;
      transition: background-color 0.3s;
      height: 140px;
      &.inner {
        height: 80px;
      }
    }
    .drop-target {
      background-color: #29e;
      border-color: #fff;
      border-style: solid;
    }

    .drag-drop {
      display: inline-block;
      min-width: 40px;
      padding: 2em 0.5em;

      color: #fff;
      background-color: #29e;
      border: solid 2px #fff;

      touch-action: none;
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);

      transition: background-color 0.3s;
    }

    .drag-drop.can-drop {
      color: #000;
      background-color: #4e4;
    }
  }
}
