.draggable {
  // Prevent the window panning or resizing on touch
  touch-action: none;
  // Prevent text selection
  user-select: none;
  width: 100px;
  height: 100px;
  &.one {
    background: #1bbc9b;
  }
  &.two {
    background: #3598db;
  }
  &.three {
    background: #9a59b5;
  }
}
