* {
  box-sizing: border-box;
}

body, html, h1, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button[name=dev] {
  position: fixed;
  top: 0;
  right: 10vw;
  font-size: 1.2rem;
  z-index: 10;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #18bc9c;
}

.new_item_menu--container {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.new_item_menu--container .new_item_menu {
  display: flex;
}
.new_item_menu--container .new_item_menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item button {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #1bbc9b;
  border-radius: 50%;
  border: none;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.text button {
  font-weight: 700;
  background: #c1392b;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.text button:hover {
  background: #e84c3d;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.text button:active {
  background: #c1392b;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.image button {
  background: #e67f22;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.image button:hover {
  background: #f39c11;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.image button:active {
  background: #e67f22;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.product button {
  background: #16a086;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.product button:hover {
  background: #1bbc9b;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.product button:active {
  background: #16a086;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.material button {
  background: #27ae61;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.material button:hover {
  background: #2dcc70;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.material button:active {
  background: #27ae61;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.colour button {
  background: #297fb8;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.colour button:hover {
  background: #3598db;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.colour button:active {
  background: #297fb8;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.file button {
  background: #8d44ad;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.file button:hover {
  background: #9a59b5;
}
.new_item_menu--container .new_item_menu ul .new_item_menu__item.file button:active {
  background: #8d44ad;
}

.pages--container.menu_open {
  display: grid;
  grid-template-columns: 1fr;
}
.pages--container.menu_open .input_menu {
  display: flex;
}
.pages--container.menu_open .input_menu__toggle {
  left: 30vw;
  transform: translateX(-50%);
}
.pages--container.menu_open .input_menu__toggle .input_menu__toggle__icon {
  transform: none;
}
.pages--container.menu_open .pages .page .page__wrapper .page__content {
  width: 55vw;
  height: 30.9375vw;
  min-height: 30.9375vw;
  max-height: 30.9375vw;
}

.pages {
  padding: 0 0 300px 0;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);
}
.pages .page {
  margin: 5px 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.pages .page .page__wrapper {
  margin-top: 2vh;
}
.pages .page .page__wrapper .page__title h3, .pages .page .page__wrapper .page__title input {
  font-size: 20px;
  font-weight: 700;
  border: none;
  box-sizing: border-box;
  background: none;
  margin: 0;
  padding: 10px 30px;
  cursor: text;
}
.pages .page .page__wrapper .page__title input {
  color: #bec3c7;
}
.pages .page .page__wrapper .page__content {
  background: #fff;
  background: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.11);
  width: 85vw;
  height: 47.8125vw;
}
.pages.horizontal {
  flex-direction: row;
}
.pages.horizontal .page {
  padding: 0 5vh;
  min-width: inherit;
  flex: 1;
}
.pages.horizontal.full_screen .page {
  min-width: 100vw;
  flex: 1;
}
.pages.horizontal.full_screen .page .page__content {
  height: 96vh;
  width: calc(1.777777777777777777 * 97vh);
  margin-top: 2vh;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow: hidden;
}

.grid-stack-item-content {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.grid-stack-item-content * {
  box-sizing: border-box;
}
.grid-stack-item-content .content {
  height: 100%;
  width: 100%;
  background: #fff;
  transition: 0.1s linear;
}
.grid-stack-item-content .content .content__controls {
  transition: 0.1s linear;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 10;
}
.grid-stack-item-content .content .content__controls button {
  background: #fff;
  border: none;
  cursor: pointer;
}
.grid-stack-item-content .content.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  cursor: default;
}
.grid-stack-item-content .content.text .content_text__input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
.grid-stack-item-content .content.image {
  display: flex;
  flex-direction: column;
}
.grid-stack-item-content .content.image .content_image__img {
  width: 100%;
  height: 100%;
}
.grid-stack-item-content .content.image .content_image__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-stack-item-content .content.product {
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr;
  padding: 10px 0;
}
.grid-stack-item-content .content.product .content_product__img {
  flex: 1;
  position: relative;
}
.grid-stack-item-content .content.product .content_product__img img {
  width: 90%;
  max-height: 90%;
  object-fit: contain;
}
.grid-stack-item-content .content.product .content_product__text {
  font-size: 11px;
}
.grid-stack-item-content .content.material {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  height: 100%;
  position: relative;
}
.grid-stack-item-content .content.material .content_material__img {
  flex: 1;
  position: relative;
}
.grid-stack-item-content .content.material .content_material__img img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.grid-stack-item-content .content.material .content_material__text {
  font-size: 11px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid-stack-item-content .content.colour {
  display: flex;
  flex-wrap: wrap;
}
.grid-stack-item-content .content.colour .colour__module {
  width: 100%;
  height: 100%;
}
.grid-stack-item-content .content.file {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.grid-stack-item-content .content.file .file__cover {
  transition: 0.2s linear;
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
}
.grid-stack-item-content .content.file .file__cover .file__cover__icon {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.grid-stack-item-content .content.file .file__cover .file__cover__title {
  flex: 1;
  color: #ecf0f1;
  font-size: 12px;
}
.grid-stack-item-content .content.file:hover .file__cover {
  opacity: 1;
}
.grid-stack-item-content .content.file:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 24px 24px 0px;
  border-style: solid;
  border-color: #bec3c7 #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 1px 1px rgba(0, 0, 0, 0.1);
}
.grid-stack-item-content .content:hover .content__controls {
  opacity: 1;
}

.control_display {
  position: fixed;
  bottom: 0;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.control_display button.active {
  border: 1px solid tomato;
}

.colour_picker {
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 15px;
  padding: 10px;
  background: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.colour_picker .colour_picker__preview {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colour_picker .colour_picker__preview .colour_picker__preview--wrapper {
  height: 40px;
  width: 70%;
  margin-top: 12px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colour_picker .colour_picker__preview .colour_picker__preview--wrapper .colour_picker__preview__input {
  font-family: "Ubuntu", Helvetica, sans-serif, arial, "Roboto";
  letter-spacing: 4px;
  text-shadow: 1px 1px 1px #ecf0f1;
  text-align: center;
  box-sizing: border-box;
  background: none;
  border: none;
  font-size: 17px;
  max-width: 100%;
}
.colour_picker .colour_picker__preview .colour_picker__preview--wrapper .colour_picker__preview__input:focus {
  border-bottom: 1px solid #bec3c7;
}
.colour_picker .colour_picker__control {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.colour_picker .colour_picker__control .colour_picker__control--wrapper button {
  --hover_back_color: #ecf0f1;
  --hover_color: black;
  --color: black;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  margin: 0 10px;
  transition: 0.1s linear;
  color: var(--color);
}
.colour_picker .colour_picker__control .colour_picker__control--wrapper button:hover {
  background: var(--hover_back_color);
  color: var(--hover_color);
}
.colour_picker .colour_picker__control .colour_picker__control--wrapper button.colour_cancel {
  --hover_back_color: #e84c3d;
  --hover_color: #ecf0f1;
  --color: #c1392b;
}
.colour_picker .colour_picker__control .colour_picker__control--wrapper button.colour_accept {
  --hover_back_color: #2dcc70;
  --hover_color: #ecf0f1;
  --color: #27ae61;
}

.grid-stack .grid-stack-item[data-gs-width="0"] {
  width: 0%;
}
.grid-stack .grid-stack-item[data-gs-min-width="0"] {
  width: 0%;
}
.grid-stack .grid-stack-item[data-gs-max-width="0"] {
  width: 0%;
}
.grid-stack .grid-stack-item[data-gs-x="0"] {
  left: 0%;
}
.grid-stack .grid-stack-item[data-gs-width="1"] {
  width: 7.6923076923%;
}
.grid-stack .grid-stack-item[data-gs-min-width="1"] {
  width: 7.6923076923%;
}
.grid-stack .grid-stack-item[data-gs-max-width="1"] {
  width: 7.6923076923%;
}
.grid-stack .grid-stack-item[data-gs-x="1"] {
  left: 7.6923076923%;
}
.grid-stack .grid-stack-item[data-gs-width="2"] {
  width: 15.3846153846%;
}
.grid-stack .grid-stack-item[data-gs-min-width="2"] {
  width: 15.3846153846%;
}
.grid-stack .grid-stack-item[data-gs-max-width="2"] {
  width: 15.3846153846%;
}
.grid-stack .grid-stack-item[data-gs-x="2"] {
  left: 15.3846153846%;
}
.grid-stack .grid-stack-item[data-gs-width="3"] {
  width: 23.0769230769%;
}
.grid-stack .grid-stack-item[data-gs-min-width="3"] {
  width: 23.0769230769%;
}
.grid-stack .grid-stack-item[data-gs-max-width="3"] {
  width: 23.0769230769%;
}
.grid-stack .grid-stack-item[data-gs-x="3"] {
  left: 23.0769230769%;
}
.grid-stack .grid-stack-item[data-gs-width="4"] {
  width: 30.7692307692%;
}
.grid-stack .grid-stack-item[data-gs-min-width="4"] {
  width: 30.7692307692%;
}
.grid-stack .grid-stack-item[data-gs-max-width="4"] {
  width: 30.7692307692%;
}
.grid-stack .grid-stack-item[data-gs-x="4"] {
  left: 30.7692307692%;
}
.grid-stack .grid-stack-item[data-gs-width="5"] {
  width: 38.4615384615%;
}
.grid-stack .grid-stack-item[data-gs-min-width="5"] {
  width: 38.4615384615%;
}
.grid-stack .grid-stack-item[data-gs-max-width="5"] {
  width: 38.4615384615%;
}
.grid-stack .grid-stack-item[data-gs-x="5"] {
  left: 38.4615384615%;
}
.grid-stack .grid-stack-item[data-gs-width="6"] {
  width: 46.1538461538%;
}
.grid-stack .grid-stack-item[data-gs-min-width="6"] {
  width: 46.1538461538%;
}
.grid-stack .grid-stack-item[data-gs-max-width="6"] {
  width: 46.1538461538%;
}
.grid-stack .grid-stack-item[data-gs-x="6"] {
  left: 46.1538461538%;
}
.grid-stack .grid-stack-item[data-gs-width="7"] {
  width: 53.8461538462%;
}
.grid-stack .grid-stack-item[data-gs-min-width="7"] {
  width: 53.8461538462%;
}
.grid-stack .grid-stack-item[data-gs-max-width="7"] {
  width: 53.8461538462%;
}
.grid-stack .grid-stack-item[data-gs-x="7"] {
  left: 53.8461538462%;
}
.grid-stack .grid-stack-item[data-gs-width="8"] {
  width: 61.5384615385%;
}
.grid-stack .grid-stack-item[data-gs-min-width="8"] {
  width: 61.5384615385%;
}
.grid-stack .grid-stack-item[data-gs-max-width="8"] {
  width: 61.5384615385%;
}
.grid-stack .grid-stack-item[data-gs-x="8"] {
  left: 61.5384615385%;
}
.grid-stack .grid-stack-item[data-gs-width="9"] {
  width: 69.2307692308%;
}
.grid-stack .grid-stack-item[data-gs-min-width="9"] {
  width: 69.2307692308%;
}
.grid-stack .grid-stack-item[data-gs-max-width="9"] {
  width: 69.2307692308%;
}
.grid-stack .grid-stack-item[data-gs-x="9"] {
  left: 69.2307692308%;
}
.grid-stack .grid-stack-item[data-gs-width="10"] {
  width: 76.9230769231%;
}
.grid-stack .grid-stack-item[data-gs-min-width="10"] {
  width: 76.9230769231%;
}
.grid-stack .grid-stack-item[data-gs-max-width="10"] {
  width: 76.9230769231%;
}
.grid-stack .grid-stack-item[data-gs-x="10"] {
  left: 76.9230769231%;
}
.grid-stack .grid-stack-item[data-gs-width="11"] {
  width: 84.6153846154%;
}
.grid-stack .grid-stack-item[data-gs-min-width="11"] {
  width: 84.6153846154%;
}
.grid-stack .grid-stack-item[data-gs-max-width="11"] {
  width: 84.6153846154%;
}
.grid-stack .grid-stack-item[data-gs-x="11"] {
  left: 84.6153846154%;
}
.grid-stack .grid-stack-item[data-gs-width="12"] {
  width: 92.3076923077%;
}
.grid-stack .grid-stack-item[data-gs-min-width="12"] {
  width: 92.3076923077%;
}
.grid-stack .grid-stack-item[data-gs-max-width="12"] {
  width: 92.3076923077%;
}
.grid-stack .grid-stack-item[data-gs-x="12"] {
  left: 92.3076923077%;
}
.grid-stack .grid-stack-item[data-gs-width="13"] {
  width: 100%;
}
.grid-stack .grid-stack-item[data-gs-min-width="13"] {
  width: 100%;
}
.grid-stack .grid-stack-item[data-gs-max-width="13"] {
  width: 100%;
}
.grid-stack .grid-stack-item[data-gs-x="13"] {
  left: 100%;
}

/*# sourceMappingURL=css/prototype/five.css.map */
