:root {
  --small_font: 10px;
  --medium_font: 16px;
  --large_font: 20px;
}

* {
  box-sizing: border-box;
  font-family: "Europa", "roboto", arial, sans-serif, helvetica, droid-sans;
}

body, html, h1, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar, html::-webkit-scrollbar, h1::-webkit-scrollbar, p::-webkit-scrollbar {
  width: 0;
}

textarea {
  border-radius: 0;
  border: 1px solid #bec3c7;
}

input {
  border: 1px solid #bec3c7;
  padding: 10px;
}

button {
  background: #1d1d1d;
  padding: 10px 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.1s linear;
  text-transform: uppercase;
}
button:hover {
  background-color: #333333;
}
button:active {
  background-color: #7e7e7e;
}
button[name=dev] {
  position: fixed;
  top: 0;
  right: 10vw;
  font-size: 1.2rem;
  z-index: 10;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #18bc9c;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr 330px;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}
.main.menu_closed {
  grid-template-columns: 200px 1fr auto;
}
.main.menu_closed .item_menu--container .item_menu .item_menu__interface {
  display: none;
}

.slides--container {
  min-height: 100%;
  background: #fff;
  width: 100%;
  position: relative;
}
.slides--container .slides {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.slides--container .slides .top_menu {
  min-height: 30px;
  border-bottom: 1px solid #bec3c7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slides--container .slides .bottom_menu {
  min-height: 30px;
  border-top: 1px solid #bec3c7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slides--wrapper {
  height: 100%;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  overflow-y: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.slides--wrapper > * {
  box-sizing: border-box;
}
.slides--wrapper .slides__grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-height: 100%;
  max-height: 100%;
  position: relative;
}
.slides--wrapper .slides__grid .slide {
  width: 100%;
  min-height: 60px;
  padding: 5px 0;
  position: relative;
  display: flex;
}
.slides--wrapper .slides__grid .slide .slide__idx {
  width: 20px;
  margin: 8px;
  color: #bec3c7;
  font-size: 0.8em;
}
.slides--wrapper .slides__grid .slide .slide__image {
  background: #fff;
  border: 1px solid #ecf0f1;
  border: 1px solid #d5dadc;
  border-radius: 5px;
  flex: 1;
  margin: 0 8px 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slides--wrapper .slides__grid .slide .slide__image.previewImg {
  background-image: url("https://res.cloudinary.com/oddert/image/upload/v1558101908/MOS/tiles/placeholder_image-01.png");
}
.slides--wrapper .slides__grid .slide .slide__menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  min-height: 50px;
}
.slides--wrapper .slides__grid .slide .slide__menu .slide__menu__toggle {
  padding: 0 4px;
  margin: 5px 10px 0 0;
  color: #7e8c8d;
  background: none;
  opacity: 0;
  transition: 0.2s ease;
}
.slides--wrapper .slides__grid .slide .slide__menu .slide__menu__toggle:hover {
  color: black;
}
.slides--wrapper .slides__grid .slide .slide__menu .slide__menu__items {
  list-style-type: none;
  padding: 10px 15px;
  margin: 0;
  background: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 90;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  display: none;
}
.slides--wrapper .slides__grid .slide .slide__menu .slide__menu__items li {
  padding: 2px 0;
}
.slides--wrapper .slides__grid .slide .slide__menu .slide__menu__items button {
  padding: 4px 10px;
  background: none;
  color: black;
  text-align: left;
}
.slides--wrapper .slides__grid .slide .slide__menu .slide__menu__items button:hover {
  color: #c1392b;
  text-decoration: underline;
}
.slides--wrapper .slides__grid .slide .slide__menu .slide__menu__items .slide__menu__cut, .slides--wrapper .slides__grid .slide .slide__menu .slide__menu__items .slide__menu__copy, .slides--wrapper .slides__grid .slide .slide__menu .slide__menu__items .slide__menu__paste {
  display: flex;
  flex-direction: column;
}
.slides--wrapper .slides__grid .slide .slide__menu .slide__menu__items .slide__menu__cut button:hover, .slides--wrapper .slides__grid .slide .slide__menu .slide__menu__items .slide__menu__copy button:hover, .slides--wrapper .slides__grid .slide .slide__menu .slide__menu__items .slide__menu__paste button:hover {
  background: #ecf0f1;
  color: black;
}
.slides--wrapper .slides__grid .slide .slide__menu.active .slide__menu__toggle {
  opacity: 1;
}
.slides--wrapper .slides__grid .slide .slide__menu.active .slide__menu__items {
  display: flex;
}
.slides--wrapper .slides__grid .slide.dragging {
  opacity: 0.5;
}
.slides--wrapper .slides__grid .slide.selected {
  background: rgba(26, 198, 232, 0.1);
}
.slides--wrapper .slides__grid .slide.selected .slide__image {
  border-color: #1ac6e8;
}
.slides--wrapper .slides__grid .slide:hover .slide__menu .slide__menu__toggle {
  opacity: 1;
}
.slides--wrapper::-webkit-scrollbar {
  width: 0;
}

.pages--container {
  background: rgba(0, 0, 0, 0.1);
  background: #f3f3f3;
  padding: 0 0 300px 0;
}
.pages--container .pages {
  padding: 0 0 60px 0;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}
.pages--container .pages .page {
  margin: 5px 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.pages--container .pages .page .page__wrapper {
  margin-top: 2vh;
}
.pages--container .pages .page .page__wrapper .page__title {
  display: flex;
}
.pages--container .pages .page .page__wrapper .page__title h3, .pages--container .pages .page .page__wrapper .page__title input {
  font-size: 20px;
  font-weight: 700;
  border: none;
  box-sizing: border-box;
  background: none;
  color: #000;
  margin: 0;
  padding: 10px 30px;
  cursor: text;
  flex: 5;
}
.pages--container .pages .page .page__wrapper .page__title input {
  color: #7e8c8d;
}
.pages--container .pages .page .page__wrapper .page__content {
  background: #fff;
  background: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.11);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 45vw;
  height: 25.3125vw;
  min-height: 25.3125vw;
  max-height: 25.3125vw;
}
.pages--container .pages .page:hover .page__wrapper .page__title .page__title__delete {
  opacity: 1;
}

.item_menu--container {
  min-height: 100%;
  background: #fff;
  width: 100%;
  position: relative;
}
.item_menu--container .item_menu {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: row-reverse;
}
.item_menu--container .item_menu .item_menu__title {
  margin: 0;
  padding: 10px 20px;
  text-align: center;
}
.item_menu--container .item_menu .item_menu__control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: #fff;
  border-left: 1px solid #ecf0f1;
}
.item_menu--container .item_menu .item_menu__control .item_menu__toggle button, .item_menu--container .item_menu .item_menu__control .item_menu__info button {
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #1bbc9b;
  color: #000;
  border: none;
  border-top: 4px solid rgba(255, 255, 255, 0);
  border-left: 4px solid rgba(255, 255, 255, 0);
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
  padding: 10px 15px;
  background: #fff;
  color: #3A3A3A;
}
.item_menu--container .item_menu .item_menu__control .item_menu__toggle button.active, .item_menu--container .item_menu .item_menu__control .item_menu__info button.active {
  color: #fff;
  background: #3A3A3A;
}
.item_menu--container .item_menu .item_menu__control .item_menu__toggle button:hover, .item_menu--container .item_menu .item_menu__control .item_menu__info button:hover {
  background: #333333;
  color: #fff;
}
.item_menu--container .item_menu .item_menu__control .item_menu__toggle button:active, .item_menu--container .item_menu .item_menu__control .item_menu__info button:active {
  background: #7e7e7e;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item button {
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #1bbc9b;
  color: #000;
  border: none;
  border-top: 4px solid rgba(255, 255, 255, 0);
  border-left: 4px solid rgba(255, 255, 255, 0);
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
  padding: 10px 15px;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item button.active {
  color: #fff;
  background: #3A3A3A;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.text button {
  font-weight: 700;
  background: #fff;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.text button:hover {
  background: #ecf0f1;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.text button:active {
  background: #bec3c7;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.text button.active {
  color: #fff;
  background: #3A3A3A;
  background: #1d1d1d;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.image button {
  background: #fff;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.image button:hover {
  background: #ecf0f1;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.image button:active {
  background: #bec3c7;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.image button.active {
  color: #fff;
  background: #1d1d1d;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.product button {
  background: #fff;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.product button:hover {
  background: #ecf0f1;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.product button:active {
  background: #bec3c7;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.product button.active {
  color: #fff;
  background: #1d1d1d;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.material button {
  background: #fff;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.material button:hover {
  background: #ecf0f1;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.material button:active {
  background: #bec3c7;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.material button.active {
  color: #fff;
  background: #1d1d1d;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.colour button {
  background: #fff;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.colour button:hover {
  background: #ecf0f1;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.colour button:active {
  background: #bec3c7;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.colour button.active {
  color: #fff;
  background: #1d1d1d;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.file button {
  background: #fff;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.file button:hover {
  background: #ecf0f1;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.file button:active {
  background: #bec3c7;
}
.item_menu--container .item_menu .item_menu__control .new_item_menu__item.file button.active {
  color: #fff;
  background: #1d1d1d;
}
.item_menu--container .item_menu .item_menu__interface {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant {
  flex: 1;
  position: relative;
  height: 100%;
  display: none;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert {
  width: 100%;
  height: 100%;
  position: relative;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_text__insert ul.new_text__size {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 20px 0;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_text__insert ul.new_text__size li {
  margin: 0 10px;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_text__insert ul.new_text__size li button {
  color: #000;
  background: #fff;
  border: 3px solid #1d1d1d;
  font-weight: 800;
  padding: 10px 15px;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_text__insert ul.new_text__size li button.new_text__size--small {
  font-size: var(--small_font);
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_text__insert ul.new_text__size li button.new_text__size--medium {
  font-size: var(--medium_font);
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_text__insert ul.new_text__size li button.new_text__size--large {
  font-size: var(--large_font);
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_text__insert ul.new_text__size li button:hover {
  background-color: #ecf0f1;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_text__insert ul.new_text__size li button.active {
  background-color: #1d1d1d;
  color: #fff;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_text__insert .new_text__value {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_text__insert .new_text__value textarea {
  text-align: center;
  width: 100%;
  margin: 5px 15px;
  border: 1px solid #bec3c7;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_product__insert, .item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_material__insert {
  flex: 1;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_product__insert .product_search__results, .item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_material__insert .product_search__results {
  flex: 1;
  overflow-y: auto;
  overflow-y: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_product__insert .product_search__results::-webkit-scrollbar, .item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert.new_material__insert .product_search__results::-webkit-scrollbar {
  width: 0;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert .insert__title {
  border-bottom: 1px solid #ecf0f1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert .insert__title h3 {
  text-align: center;
  font-size: 16px;
  margin: 16px;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert .insert__action_butons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid #ecf0f1;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant .insert .insert__action_butons button {
  margin: 0 10px;
}
.item_menu--container .item_menu .item_menu__interface .item_menu__interface__variant.active {
  display: flex;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant {
  position: relative;
  flex: 1;
  flex-direction: column;
  height: 100%;
  display: none;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit_close {
  border-bottom: 1px solid #ecf0f1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit_close h3 {
  text-align: center;
  font-size: 16px;
  margin: 16px;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit_close .edit_close__title {
  flex: 1;
  margin: 0;
  font-size: 16px;
  margin: 16px;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit_close button {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit {
  width: 100%;
  height: 100%;
  position: relative;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit.edit_text ul.edit_text__size {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 20px 0;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit.edit_text ul.edit_text__size li {
  margin: 0 10px;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit.edit_text ul.edit_text__size li button {
  color: #000;
  background: #fff;
  border: 3px solid #1d1d1d;
  font-weight: 800;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit.edit_text ul.edit_text__size li button.edit_text__size--small {
  font-size: var(--small_font);
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit.edit_text ul.edit_text__size li button.edit_text__size--medium {
  font-size: var(--medium_font);
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit.edit_text ul.edit_text__size li button.edit_text__size--large {
  font-size: var(--large_font);
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit.edit_text ul.edit_text__size li button:hover {
  background-color: #ecf0f1;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit.edit_text ul.edit_text__size li button.active {
  background-color: #1d1d1d;
  color: #fff;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit.edit_text .edit_text__value {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit.edit_text .edit_text__value textarea {
  text-align: center;
  width: 100%;
  margin: 5px 15px;
  border: 1px solid #bec3c7;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit.edit_product .edit_product__image_carousel {
  width: 100%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 150px auto;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit.edit_material .edit_material__image_carousel {
  width: 100%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 150px auto;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__page_left, .item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__page_right {
  display: flex;
  align-items: center;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__page_left button, .item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__page_right button {
  width: 100%;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__page_left {
  grid-column: 1;
  grid-row: 1;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__page_right {
  grid-column: 3;
  grid-row: 1;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_container {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_container img[data-mos-image_idx="1"] {
  filter: hue-rotate(250deg);
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_container img[data-mos-image_idx="2"] {
  filter: hue-rotate(320deg);
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_container img[data-mos-image_idx="3"] {
  filter: hue-rotate(100deg);
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_container img[data-mos-image_idx="4"] {
  filter: hue-rotate(200deg);
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_container img[data-mos-image_idx="5"] {
  filter: hue-rotate(300deg);
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_container img[data-mos-image_idx="6"] {
  filter: hue-rotate(150deg);
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_container img[data-mos-image_idx="7"] {
  filter: hue-rotate(50deg);
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_select {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 6px 0 0 0;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_select li {
  margin: 0 6px 0 6px;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_select li button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0);
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_select li button img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .carousel__image_select li.active button {
  border-color: #1ac6e8;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .edit__title {
  border-bottom: 1px solid #ecf0f1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .edit__title h3 {
  text-align: center;
  font-size: 16px;
  margin: 16px;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .edit__action_butons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid #ecf0f1;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant .edit .edit__action_butons button {
  margin: 0 10px;
}
.item_menu--container .item_menu .item_menu__interface .item_edit__interface__variant.active {
  display: flex;
}
.item_menu--container .item_menu.closed .item_menu__interface {
  display: none;
}

.product_search__input {
  padding: 5px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #bec3c7;
}
.product_search__input .product_search__input--wrapper {
  border: 1px solid #bec3c7;
  width: 100%;
  display: flex;
  align-items: center;
}
.product_search__input .product_search__input--wrapper .product_search__input--bar {
  flex: 1;
  padding: 10px;
  border: none;
}
.product_search__input .product_search__input--wrapper .product_search__input--bar:hover + .product_search__input--clear {
  display: flex;
}
.product_search__input .product_search__input--wrapper .product_search__input--bar:focus + .product_search__input--clear {
  display: flex;
}
.product_search__input .product_search__input--wrapper .product_search__input--clear {
  background: none;
  border: none;
  padding: 0;
  margin: 0 6px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.1s linear;
  color: #1d1d1d;
}
.product_search__input .product_search__input--wrapper .product_search__input--clear:hover {
  background: #ecf0f1;
  display: flex;
}

.product_search__results {
  padding: 10px 10px 30px 10px;
}
.product_search__results ul {
  min-height: 50px;
  max-height: 50%;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.product_search__results ul .result_product {
  box-sizing: border-box;
  border: 1px solid #ecf0f1;
  border-radius: 3px;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #fff;
  transition: 0.1s linear;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr;
  padding: 5px;
}
.product_search__results ul .result_product * {
  box-sizing: border-box;
}
.product_search__results ul .result_product * {
  box-sizing: border-box;
}
.product_search__results ul .result_product .result_product__img {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}
.product_search__results ul .result_product .result_product__img img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}
.product_search__results ul .result_product .result_product__text {
  font-size: 9px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product_search__results ul .result_product .result_product__text > * {
  text-align: center;
}
.product_search__results ul .result_product .result_product__text .result_product__text--price {
  font-weight: normal;
  color: #444;
}
.product_search__results ul .result_product.user_focus {
  border-color: #1ac6e8;
}
.product_search__results ul .result_none {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_search__results ul .result_none p {
  font-size: 20px;
}

.new_page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.new_page .new_page--wrapper {
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.new_page .new_page--wrapper button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: none;
  border: 3px solid #27ae61;
  font-size: 20px;
  transition: 0.1s linear;
  cursor: pointer;
  color: #24495e;
  padding: 0;
  margin: 0;
}
.new_page .new_page--wrapper button:hover {
  background: #27ae61;
  color: #ecf0f1;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
.new_page .new_page--wrapper button:active {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  background: #2dcc70;
  color: #fff;
  border-color: #2dcc70;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow: hidden;
  left: 4px;
  right: 4px;
}
.grid-stack > .grid-stack-item > .grid-stack-item-content.image_overflow {
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
}

.grid-stack-item .grid-stack-item-content {
  border: 2px solid #ecf0f1;
  border-radius: 3px;
  box-sizing: border-box;
}
.grid-stack-item .grid-stack-item-content * {
  box-sizing: border-box;
}
.grid-stack-item .grid-stack-item-content .content {
  height: 100%;
  width: 100%;
  background: #fff;
  transition: 0.1s linear;
  position: relative;
}
.grid-stack-item .grid-stack-item-content .content .content__controls {
  transition: 0.1s linear;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 10;
}
.grid-stack-item .grid-stack-item-content .content .content__controls button {
  background: #fff;
  border: none;
  cursor: pointer;
  color: #1d1d1d;
  padding: 2px 5px;
}
.grid-stack-item .grid-stack-item-content .content.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  cursor: default;
}
.grid-stack-item .grid-stack-item-content .content.text .content_text__input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
.grid-stack-item .grid-stack-item-content .content.text .content_text__text {
  font-size: var(--medium_font);
}
.grid-stack-item .grid-stack-item-content .content.text .content_text__text.small {
  font-size: var(--small_font);
}
.grid-stack-item .grid-stack-item-content .content.text .content_text__text.medium {
  font-size: var(--medium_font);
}
.grid-stack-item .grid-stack-item-content .content.text .content_text__text.large {
  font-size: var(--large_font);
}
.grid-stack-item .grid-stack-item-content .content.image {
  display: flex;
  flex-direction: column;
}
.grid-stack-item .grid-stack-item-content .content.image .content__controls--undo {
  display: none;
}
.grid-stack-item .grid-stack-item-content .content.image .content_image__img__crop_boundary {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.grid-stack-item .grid-stack-item-content .content.image .content_image__img__crop_boundary .content_image__img__crop_display {
  position: absolute;
  z-index: 10;
  border: 2px dashed red;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: none;
}
.grid-stack-item .grid-stack-item-content .content.image .content_image__img__crop_boundary .content_image__img__resize {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  border: none;
}
.grid-stack-item .grid-stack-item-content .content.image .content_image__img__crop_boundary .content_image__img__resize img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-stack-item .grid-stack-item-content .content.image .content_image__img__crop_boundary .content_image__img__resize .resizers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.grid-stack-item .grid-stack-item-content .content.image .content_image__img__crop_boundary .content_image__img__resize .resizers .resizer {
  width: 10px;
  height: 10px;
  border: 3px solid #1ac6e8;
  background: #fff;
  border-radius: 50%;
  position: absolute;
}
.grid-stack-item .grid-stack-item-content .content.image .content_image__img__crop_boundary .content_image__img__resize .resizers .resizer.tl {
  top: -5px;
  left: -5px;
  cursor: nw-resize;
}
.grid-stack-item .grid-stack-item-content .content.image .content_image__img__crop_boundary .content_image__img__resize .resizers .resizer.tr {
  top: -5px;
  left: calc(100% - 5px);
  cursor: ne-resize;
}
.grid-stack-item .grid-stack-item-content .content.image .content_image__img__crop_boundary .content_image__img__resize .resizers .resizer.bl {
  top: calc(100% - 5px);
  left: -5px;
  cursor: sw-resize;
}
.grid-stack-item .grid-stack-item-content .content.image .content_image__img__crop_boundary .content_image__img__resize .resizers .resizer.br {
  top: calc(100% - 5px);
  left: calc(100% - 5px);
  cursor: se-resize;
}
.grid-stack-item .grid-stack-item-content .content.image.crop_active .content__controls--undo {
  display: inline-block;
}
.grid-stack-item .grid-stack-item-content .content.image.crop_active .content_image__img__crop_boundary {
  display: block;
  overflow: visible;
}
.grid-stack-item .grid-stack-item-content .content.image.crop_active .content_image__img__crop_boundary .content_image__img__crop_display {
  display: block;
}
.grid-stack-item .grid-stack-item-content .content.image.crop_active .content_image__img__crop_boundary .content_image__img__resize {
  border: 2px solid #1ac6e8;
}
.grid-stack-item .grid-stack-item-content .content.image.crop_active .content_image__img__crop_boundary .content_image__img__resize .resizers {
  display: block;
}
.grid-stack-item .grid-stack-item-content .content.product {
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr;
  padding: 10px 0;
}
.grid-stack-item .grid-stack-item-content .content.product .content_product__img {
  flex: 1;
  position: relative;
}
.grid-stack-item .grid-stack-item-content .content.product .content_product__img img {
  width: 90%;
  max-height: 90%;
  object-fit: contain;
}
.grid-stack-item .grid-stack-item-content .content.product .content_product__text {
  font-size: 9px;
}
.grid-stack-item .grid-stack-item-content .content.material {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  height: 100%;
  position: relative;
}
.grid-stack-item .grid-stack-item-content .content.material .content_material__img {
  flex: 1;
  position: relative;
}
.grid-stack-item .grid-stack-item-content .content.material .content_material__img img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.grid-stack-item .grid-stack-item-content .content.material .content_material__text {
  font-size: 9px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid-stack-item .grid-stack-item-content .content.colour {
  display: flex;
  flex-wrap: wrap;
}
.grid-stack-item .grid-stack-item-content .content.colour .colour__module {
  width: 100%;
  height: 100%;
}
.grid-stack-item .grid-stack-item-content .content.file {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.grid-stack-item .grid-stack-item-content .content.file .file__cover {
  transition: 0.2s linear;
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
}
.grid-stack-item .grid-stack-item-content .content.file .file__cover .file__cover__icon {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.grid-stack-item .grid-stack-item-content .content.file .file__cover .file__cover__title {
  flex: 1;
  color: #ecf0f1;
  font-size: 12px;
}
.grid-stack-item .grid-stack-item-content .content.file:hover .file__cover {
  opacity: 1;
}
.grid-stack-item .grid-stack-item-content .content.file:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 24px 24px 0px;
  border-style: solid;
  border-color: #bec3c7 #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 1px 1px rgba(0, 0, 0, 0.1);
}
.grid-stack-item .grid-stack-item-content .content:hover .content__controls {
  opacity: 1;
}
.grid-stack-item.user_focus .grid-stack-item-content {
  border-color: #1ac6e8;
}

.colour_picker {
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 15px;
  padding: 10px;
  background: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  display: none;
}
.colour_picker .colour_picker__control {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.colour_picker .colour_picker__control .colour_picker__control--wrapper button {
  --hover_back_color: #ecf0f1;
  --hover_color: black;
  --color: black;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background: #fff;
  color: #1d1d1d;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  margin: 0 10px;
  transition: 0.1s linear;
  color: var(--color);
}
.colour_picker .colour_picker__control .colour_picker__control--wrapper button:hover {
  background: var(--hover_back_color);
  color: var(--hover_color);
}
.colour_picker .colour_picker__control .colour_picker__control--wrapper button.control_cancel {
  --hover_back_color: #e84c3d;
  --hover_color: #ecf0f1;
  --color: #c1392b;
}
.colour_picker .colour_picker__control .colour_picker__control--wrapper button.control_accept {
  --hover_back_color: #2dcc70;
  --hover_color: #ecf0f1;
  --color: #27ae61;
}

.colour_picker__iro, .colour_edit__iro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.colour_picker__preview, .colour_edit__preview {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colour_picker__preview .colour_picker__preview--wrapper, .colour_picker__preview .colour_edit__preview--wrapper, .colour_edit__preview .colour_picker__preview--wrapper, .colour_edit__preview .colour_edit__preview--wrapper {
  height: 40px;
  width: 70%;
  margin: 12px 0;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colour_picker__preview .colour_picker__preview--wrapper .colour_picker__preview__input, .colour_picker__preview .colour_picker__preview--wrapper .colour_edit__preview__input, .colour_picker__preview .colour_edit__preview--wrapper .colour_picker__preview__input, .colour_picker__preview .colour_edit__preview--wrapper .colour_edit__preview__input, .colour_edit__preview .colour_picker__preview--wrapper .colour_picker__preview__input, .colour_edit__preview .colour_picker__preview--wrapper .colour_edit__preview__input, .colour_edit__preview .colour_edit__preview--wrapper .colour_picker__preview__input, .colour_edit__preview .colour_edit__preview--wrapper .colour_edit__preview__input {
  font-family: "Ubuntu", Helvetica, sans-serif, arial, "Roboto";
  letter-spacing: 4px;
  text-shadow: 1px 1px 1px #ecf0f1;
  font-weight: lighter;
  color: #fff;
  text-shadow: 0.05em 0 #000, 0 0.05em #000, -0.05em 0 #000, 0 -0.05em #000, -0.05em -0.05em #000, -0.05em 0.05em #000, 0.05em -0.05em #000, 0.05em 0.05em #000;
  text-align: center;
  box-sizing: border-box;
  background: none;
  border: none;
  font-size: 17px;
  max-width: 100%;
}
.colour_picker__preview .colour_picker__preview--wrapper .colour_picker__preview__input:focus, .colour_picker__preview .colour_picker__preview--wrapper .colour_edit__preview__input:focus, .colour_picker__preview .colour_edit__preview--wrapper .colour_picker__preview__input:focus, .colour_picker__preview .colour_edit__preview--wrapper .colour_edit__preview__input:focus, .colour_edit__preview .colour_picker__preview--wrapper .colour_picker__preview__input:focus, .colour_edit__preview .colour_picker__preview--wrapper .colour_edit__preview__input:focus, .colour_edit__preview .colour_edit__preview--wrapper .colour_picker__preview__input:focus, .colour_edit__preview .colour_edit__preview--wrapper .colour_edit__preview__input:focus {
  border-bottom: 1px solid #bec3c7;
}

.material_search {
  position: absolute;
  top: 100px;
  left: 100px;
  background: #fff;
  padding: 10px 0;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.material_search .material_search__input {
  padding: 0 10px 10px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.material_search .material_search__input .material_search__input--wrapper {
  border: 1px solid #bec3c7;
  width: 90%;
  display: flex;
  align-items: center;
}
.material_search .material_search__input .material_search__input--wrapper .material_search__input--bar {
  flex: 1;
  padding: 10px;
  border: none;
}
.material_search .material_search__input .material_search__input--wrapper .material_search__input--bar:hover + .material_search__input--clear {
  display: flex;
}
.material_search .material_search__input .material_search__input--wrapper .material_search__input--bar:focus + .material_search__input--clear {
  display: flex;
}
.material_search .material_search__input .material_search__input--wrapper .material_search__input--clear {
  background: none;
  border: none;
  padding: 0;
  margin: 0 6px 0 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.1s linear;
}
.material_search .material_search__input .material_search__input--wrapper .material_search__input--clear:hover {
  background: #ecf0f1;
  display: flex;
}
.material_search .material_search__results {
  padding: 10px 10px 30px 10px;
}
.material_search .material_search__results ul {
  min-height: 50px;
  max-height: 70vh;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.material_search .material_search__results ul .result_material {
  border: none;
  margin: 0;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #fff;
  transition: 0.1s linear;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr;
  padding: 10px 0;
}
.material_search .material_search__results ul .result_material * {
  box-sizing: border-box;
}
.material_search .material_search__results ul .result_material .result_material__img {
  flex: 1;
  position: relative;
}
.material_search .material_search__results ul .result_material .result_material__img img {
  width: 90%;
  max-height: 90%;
  object-fit: contain;
}
.material_search .material_search__results ul .result_material .result_material__text {
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.material_search .material_search__results ul .result_none {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.material_search .material_search__results ul .result_none p {
  font-size: 20px;
}

.image_interface--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image_interface--wrapper .image_interface__preview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.image_interface--wrapper .image_interface__preview img {
  max-width: 70%;
  max-height: 200px;
  object-fit: contain;
}
.image_interface--wrapper label {
  margin: 5px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  flex: 1;
  white-space: nowrap;
  background: #1d1d1d;
  padding: 10px 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.1s linear;
  text-transform: uppercase;
}
.image_interface--wrapper label:hover {
  background-color: #333333;
}
.image_interface--wrapper label:active {
  background-color: #7e7e7e;
}
.image_interface--wrapper input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.image_interface--wrapper input[type=url] {
  margin: 5px 15px;
  flex: 4;
  align-self: stretch;
}
.image_interface--wrapper .image_interface__control {
  display: flex;
}
.image_interface--wrapper .image_interface__control button {
  --hover_back_color: #ecf0f1;
  --hover_color: black;
  --color: black;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background: #fff;
  color: #1d1d1d;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  margin: 0 10px;
  transition: 0.1s linear;
  color: var(--color);
  margin: 0;
}
.image_interface--wrapper .image_interface__control button:hover {
  background: var(--hover_back_color);
  color: var(--hover_color);
}
.image_interface--wrapper .image_interface__control button.control_cancel {
  --hover_back_color: #e84c3d;
  --hover_color: #ecf0f1;
  --color: #c1392b;
}
.image_interface--wrapper .image_interface__control button.control_accept {
  --hover_back_color: #2dcc70;
  --hover_color: #ecf0f1;
  --color: #27ae61;
}

.grid-stack.page__content .grid-stack-item[data-gs-width="0"] {
  width: 0%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="0"] {
  width: 0%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="0"] {
  width: 0%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="0"] {
  left: 0%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="1"] {
  width: 7.6923076923%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="1"] {
  width: 7.6923076923%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="1"] {
  width: 7.6923076923%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="1"] {
  left: 7.6923076923%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="2"] {
  width: 15.3846153846%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="2"] {
  width: 15.3846153846%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="2"] {
  width: 15.3846153846%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="2"] {
  left: 15.3846153846%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="3"] {
  width: 23.0769230769%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="3"] {
  width: 23.0769230769%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="3"] {
  width: 23.0769230769%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="3"] {
  left: 23.0769230769%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="4"] {
  width: 30.7692307692%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="4"] {
  width: 30.7692307692%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="4"] {
  width: 30.7692307692%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="4"] {
  left: 30.7692307692%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="5"] {
  width: 38.4615384615%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="5"] {
  width: 38.4615384615%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="5"] {
  width: 38.4615384615%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="5"] {
  left: 38.4615384615%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="6"] {
  width: 46.1538461538%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="6"] {
  width: 46.1538461538%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="6"] {
  width: 46.1538461538%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="6"] {
  left: 46.1538461538%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="7"] {
  width: 53.8461538462%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="7"] {
  width: 53.8461538462%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="7"] {
  width: 53.8461538462%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="7"] {
  left: 53.8461538462%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="8"] {
  width: 61.5384615385%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="8"] {
  width: 61.5384615385%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="8"] {
  width: 61.5384615385%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="8"] {
  left: 61.5384615385%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="9"] {
  width: 69.2307692308%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="9"] {
  width: 69.2307692308%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="9"] {
  width: 69.2307692308%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="9"] {
  left: 69.2307692308%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="10"] {
  width: 76.9230769231%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="10"] {
  width: 76.9230769231%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="10"] {
  width: 76.9230769231%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="10"] {
  left: 76.9230769231%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="11"] {
  width: 84.6153846154%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="11"] {
  width: 84.6153846154%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="11"] {
  width: 84.6153846154%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="11"] {
  left: 84.6153846154%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="12"] {
  width: 92.3076923077%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="12"] {
  width: 92.3076923077%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="12"] {
  width: 92.3076923077%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="12"] {
  left: 92.3076923077%;
}
.grid-stack.page__content .grid-stack-item[data-gs-width="13"] {
  width: 100%;
}
.grid-stack.page__content .grid-stack-item[data-gs-min-width="13"] {
  width: 100%;
}
.grid-stack.page__content .grid-stack-item[data-gs-max-width="13"] {
  width: 100%;
}
.grid-stack.page__content .grid-stack-item[data-gs-x="13"] {
  left: 100%;
}

.slide rect {
  stroke: none;
  fill: red;
  fill: none;
}
.slide rect.svg_text {
  fill: #bec3c7;
}
.slide rect.svg_image {
  fill: none;
}
.slide rect.svg_colour {
  fill: initial;
}
.slide rect image {
  border: 1px dashed steelblue;
}

@media only screen and (max-width: 1200px) {
  :root {
    --small_font: 9px;
    --medium_font: 12px;
    --large_font: 15px;
  }
}
@media only screen and (max-width: 992px) {
  :root {
    --small_font: 8px;
    --medium_font: 10px;
    --large_font: 12px;
  }
  :root .text_overflow {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --small_font: 6px;
    --medium_font: 8px;
    --large_font: 10px;
  }
}

/*# sourceMappingURL=css/prototype/six.css.map */
