
* {

  box-sizing: border-box;
}

body, html, h1, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button[name=dev] {
  position: fixed;
  top: 0;
  right: 10vw;
  font-size: 1.2rem;
  z-index: 10;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #18bc9c;
}

.new_item_menu--container {
  $text_main: #c1392b;
  $text_hover: #e84c3d;
  $text_active: #c1392b;
  $image_main: #e67f22;
  $image_hover: #f39c11;
  $image_active: #e67f22;
  $product_main: #16a086;
  $product_hover: #1bbc9b;
  $product_active: #16a086;
  $material_main: #27ae61;
  $material_hover: #2dcc70;
  $material_active: #27ae61;
  $colour_main: #297fb8;
  $colour_hover: #3598db;
  $colour_active: #297fb8;
  $file_main: #8d44ad;
  $file_hover: #9a59b5;
  $file_active: #8d44ad;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  .new_item_menu {
    display: flex;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      list-style-type: none;
      .new_item_menu__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 8px;
        button {
          font-size: 24px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          background: #1bbc9b;
          border-radius: 50%;
          border: none;
          &:hover {

          }
        }
        &.text {
          button {
            font-weight: 700;
            background: $text_main;
            &:hover {
              background: $text_hover;
            }
            &:active {
              background: $text_active;
            }
          }
        }
        &.image {
          button {
            background: $image_main;
            &:hover {
              background: $image_hover;
            }
            &:active {
              background: $image_active;
            }
          }
        }
        &.product {
          button {
            background: $product_main;
            &:hover {
              background: $product_hover;
            }
            &:active {
              background: $product_active;
            }
          }
        }
        &.material {
          button {
            background: $material_main;
            &:hover {
              background: $material_hover;
            }
            &:active {
              background: $material_active;
            }
          }
        }
        &.colour {
          button {
            background: $colour_main;
            &:hover {
              background: $colour_hover;
            }
            &:active {
              background: $colour_active;
            }
          }
        }
        &.file {
          button {
            background: $file_main;
            &:hover {
              background: $file_hover;
            }
            &:active {
              background: $file_active;
            }
          }
        }
      }
    }
  }
}

$menu_width: 30vw;
$page_height: 85vh;
$page_width: 85vw;
$page_margin: 10vh;

.pages--container {
  &.menu_open {
    display: grid;
    grid-template-columns: 1fr;
    .input_menu {
      display: flex;
    }
    .input_menu__toggle {
      left: $menu_width;
      transform: translateX(-50%);
      .input_menu__toggle__icon {
        transform: none;
      }
    }
    .pages .page .page__wrapper .page__content {
      width: $page_width - $menu_width;
      height: (9/16) * ($page_width - $menu_width);
      min-height: (9/16) * ($page_width - $menu_width);
      max-height: (9/16) * ($page_width - $menu_width);
    }
  }
}

.pages {
  padding: 0 0 300px 0;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,.1);
  .page {
    // height: 100vh;
    margin: 5px 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    .page__wrapper {

      margin-top: 2vh;
      .page__title {
        h3, input {
          font-size: 20px;
          font-weight: 700;
          border: none;
          box-sizing: border-box;
          background: none;
          margin: 0;
          padding: 10px 30px;
          cursor: text;
        }
        input {
          color: #bec3c7;
        }
      }
      .page__content {
        background: #fff;
        background: rgba(255,255,255,1);
        box-shadow: 0 19px 38px rgba(0,0,0,0.15), 0 15px 12px rgba(0,0,0,0.11);
        // min-height: $page_height;
        // max-height: $page_height;
        // width: 1.777777777777777777 * 85vh;
        // height: $page_height;
        // width: (16/9) * 85vh;
        width: $page_width;
        height: (9/16) * $page_width;
      }
    }
  }



  &.horizontal {
    flex-direction: row;
    .page {
      padding: 0 5vh;
      min-width: inherit;
      flex: 1;
    }
    &.full_screen {
      .page {
        min-width: 100vw;
        flex: 1;
        .page__content {
          height: 96vh;
          width: calc(1.777777777777777777 * 97vh);
          margin-top: 2vh;

          // height: $page_height;
          // width: (16/9) * 85vh;
          // .content {

          //}
        }
      }
    }
  }
}

// for overriding default css settings without indenting the main tree too much
.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow: hidden;
}

.grid-stack-item-content {
  // border: 1px solid darkgreen;
  box-shadow: 5px 5px 10px rgba(0,0,0,.1);
  box-sizing: border-box;
  & * { box-sizing: border-box; }
  .content {
    height: 100%;
    width: 100%;
    background: #fff;
    transition: .1s linear;
    .content__controls {
      transition: .1s linear;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      z-index: 10;
      button {
        background: #fff;
        border: none;
        cursor: pointer;
      }
    }
    &.text {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      cursor: default;
      .content_text__input {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
      }
    }
    &.image {
      display: flex;
      flex-direction: column;
      .content_image__img {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &.product {
      // display: flex;
      // flex-direction: column;
      display: grid;
      grid-template-rows: 4fr 1fr;
      grid-template-columns: 1fr;
      padding: 10px 0;
      .content_product__img {
        flex: 1;
        position: relative;
        img {
          width: 90%;
          max-height: 90%;
          object-fit: contain;
        }
      }
      .content_product__text {
        font-size: 11px;
      }
    }
    &.material {
      display: grid;
      flex-direction: column;
      grid-template-columns: 1fr;
      grid-template-rows: 4fr 1fr;
      height: 100%;
      position: relative;
      .content_material__img {
        flex: 1;
        position: relative;
        img {
          width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
      .content_material__text {
        font-size: 11px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    &.colour {
      display: flex;
      flex-wrap: wrap;
      .colour__module {
        // height: 20px;
        // width: 20px;
        // width: calc(calc(1.777777777777777777 * 97vh) / 12);
        width: 100%;
        height: 100%;
      }
    }
    &.file {
      display: flex;
      flex-direction: column;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      .file__cover {
        transition: .2s linear;
        opacity: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: rgba(0,0,0,.6);
        .file__cover__icon {
          flex: 2;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
        }
        .file__cover__title {
          flex: 1;
          color: #ecf0f1;
          font-size: 12px;
        }
      }
      &:hover {
        .file__cover {
          opacity: 1;
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0 24px 24px 0px;
        border-style: solid;
        border-color: #bec3c7 #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 1px 1px rgba(0,0,0,0.1);
      }
    }
    &:hover {
      .content__controls {
        opacity: 1;
      }
    }
  }
}


// .grid-stack > .grid-stack-item {
//   $grid_rows: 7 * 1;
//   $grid_gaps: $grid_rows - 1;
//   $gap_size: 4%;
//
//   $item_height: (100% - ($grid_gaps * $gap_size)) / $grid_rows;
//
//   @for $idx from 0 through $grid_rows {
//     &[data-gs-height='#{$idx}'] {
//       height: ($item_height * $idx) + ($gap_size * ($idx - 1));
//     }
//     &[data-gs-y='#{$idx}'] {
//       top: ($item_height * $idx) + ($gap_size * $idx);
//     }
//   }
// }


.control_display {
  position: fixed;
  bottom: 0;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  button {
    &.active {
      border: 1px solid tomato;
    }
  }
}

.colour_picker {
  position: absolute;
  top: 50px;
  left: 50px;
  // border: 1px dashed tomato;
  border-radius: 15px;
  padding: 10px;
  background: #fff;
  box-shadow: 10px 10px 30px rgba(0,0,0,.1);
  .colour_picker__iro {

  }
  .colour_picker__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100%;
    // position: relative;
    .colour_picker__preview--wrapper {
      height: 40px;
      width: 70%;
      margin-top: 12px;
      border-radius: 20px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      .colour_picker__preview__input {
        letter-spacing: 4px;
        text-shadow: 0 0 5px rgba(255,255,255,1);
        text-align: center;
        box-sizing: border-box;
        background: none;
        border: none;
        font-size: 17px;
        &:focus {
          border-bottom: 1px solid #bec3c7;
        }
      }
    }
  }
}

.grid-stack {
  .grid-stack-item {
    $columns: 13;
    @for $idx from 0 through $columns {
      &[data-gs-width="#{$idx}"] { width: (100% / $columns) * $idx }
      &[data-gs-min-width="#{$idx}"] { width: (100% / $columns) * $idx }
      &[data-gs-max-width="#{$idx}"] { width: (100% / $columns) * $idx }
      &[data-gs-x="#{$idx}"] { left: (100% / $columns) * $idx; }
    }
}
}
