<% include ../partials/interact_header %>

<h1>Drag Drop Example</h1>

<div class="container">
  <div class="board">
    <div class="draggable one" id='yes-drop'></div>
    <div class="draggable two" id='no-drop'></div>
    <div class="dropzone">
      Outer Drop Zone
      <div class="dropzone inner">
        Inner Drop Zone
      </div>
    </div>
  </div>
</div>

<% include ../partials/interact_footer %>
