<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gridstack</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/gridstack_one.css">
  </head>
  <body>
    <h1>Gridstack</h1>

    <div class="container">
      <div class="board">
        <div class="draggable one"></div>
      </div>
    </div>

  </body>
</html>
