<% include ../partials/interact_header %>

<h1>Basic Restricted Drag Example</h1>

<div class="container">
  <div class="board">
    <div class="draggable one"></div>
  </div>
</div>

<% include ../partials/interact_footer %>
