<% include ../partials/interact_header %>

<h1>Interact Three</h1>

<div class="board">
  <div id="rotatable">
    <div id="angle-info">0&deg;</div>
    <svg id="arrow" viewbox="0 0 100 100">
      <polygon points="50,0 75,25 62.5,25 62.5,100 37.5,100 37.5,25 25,25" fill="#29e"></polygon>
    </svg>
  </div>
  <!-- <div id="rotate-area">
    <div id="angle-info">0&deg;</div>
    <svg id="arrow" viewbox="0 0 100 100">
      <polygon points="50,0 75,25 62.5,25 62.5,100 37.5,100 37.5,25 25,25" fill="#29e"></polygon>
    </svg>
  </div> -->
</div>

<% include ../partials/interact_footer %>
