<% include ../partials/interact_header %>

<h1>Interact Two</h1>

<div class="board">
  <div class="resizable one"></div>
  <div class="resizable two"></div>
  <!-- <div class="draggable two">Move only in start direction</div>
  <div class="draggable three">Move horizontaly only</div> -->
</div>

<% include ../partials/interact_footer %>
